dialog(class="popup container" style="display: none")
    div(class="popup__header")
        div(class="popup__title") Кошик
        div(class="popup__close")
            i(class="bi bi-x-lg")

    div(class="popup__body")
        div(class="cart__popup" id="cart")
        div(class="cart__footer")
            div(class="keep__shoping")
                button Продовжити покупки

            div(class="order")
                div(class="total__price")
                    span 4900 грн


                div(class="make__out")
                    button Оформити замовлення



















