div(class="hero__wrapper")
    div(class="hero")
        div(class="container hero__content")
            div(class="row")
                div(class="col-md-8")
                    h1(class="hero__title")
                        span Б
                        | удинок Боса
                    p(class="hero__text") 
                        span український 
                        | вирбник будок для собак
                    a(class=('hero__link') href="#gallery") 
                        button(class="hero__button") 
                            span(class="button__icon")
                                i(class="bi bi-arrow-right")
                            span(class="button__text") Далі
                        
    div(class="hero__image")
        img(src="/assets/images/hero-dog.png")
    
    
    div(class="hero__gallery" id="gallery")
        div(class="container devider")
            span(class="devider__text") Галерея
        div(class="devider__line")




        