header(class="navbar navbar--dark")
    div(class="container")
        div(class="navbar__logo logo--light")
            img(src="/assets/images/logo-white-nb.png", alt="")

        div(class="navbar__logo logo--dark")
            img(src="/assets/images/logo-dark-nb.png", alt="")

        div(class="navbar__menu")
            div(class="navbar__link")
                a(href="index.html")  Головна

            div(class="navbar__link")
                a(href="delivery-and-payment-page.html") Доставка/оплата

            div(class="navbar__link")
                a(href="refund-page.html") Повернення/обмін

        div(class="navbar__info")
            a(href="contacts-page.html") 
                button(class="navbar__btn") Контакти
            div(class="navbar__cart")
                i(class="bi bi-cart-fill")