header(class="navbar navbar--light")
    div(class="container")
        div(class="navbar__logo")
            img(src="/assets/images/logo-white-nb.png", alt="")
        
        div(class="navbar__menu")
            div(class="navbar__link")
                a(href="")  Головна

            div(class="navbar__link")
                a(href="") Доставка/оплата

            div(class="navbar__link")
                a(href="") Повернення/обмін

        div(class="navbar__info")
            button(class="navbar__btn") Контакти
            div(class="navbar__cart")
                i(class="bi bi-cart3")