div(class="navbar navbar--light")
    div(class="navbar__logo")
        img(src="/assets/images/logo-white-nb.png", alt="")
    
    div(class="navbar__menu")
        div(class="navbar__link")
            spna Головна

        div(class="navbar__link")
            spna Доставка/оплата

        div(class="navbar__link")
            spna Повернення/обмін

    div(class="navbar__info")
        div(class="navbar__contact")
            button(class="navbar__btn") Контакти
        div(class="navbar__cart")
            i(class="bi bi-cart3")