//- - const title = "Відгуки"
- const title = "Залишити Відгуки"
//- - const title = "Відгуки"

dialog(class="popup container")
    div(class="popup__header")
        div(class="popup__title") #{title}
        div(class="popup__close")
            i(class="bi bi-x-lg")

    div(class="popup__body")
        div(class="all__reviews")
            div(class="row" id="all-reviews")
                            
        div(class="leave__review" style="display: none")
            div(class="first___step")
                p(class="title") 1. Оцініть товар
                div(class="review__value")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")

            div(class="second__step")
                p(class="title") 2. Особисті Дані
                form
                    div(class="review__item")
                        label(for="name") Імʼя та прізвище*
                        input(type="text" id="name") 
                    div(class="review__item")
                        label(for="comment") Кометар
                        input(type="textarea" id="comment") 
                    div(class="review__item")
                        label(for="code") Ведіть код товару*
                        input(type="number" id="code")

                    div(class="leave__button")
                        button залишити відгук


dialog(class="gratitude__popup popup container" style="display: none")
    div(class="popup__header")
        div(class="popup__close")
            i(class="bi bi-x-lg")
    div(class="popup__body")
        div(class="gratitude__review")
            img(src="/assets/images/gratitude.png", alt="")
            p Дякую за відгук















