//- - const title = "Відгуки"
- const title = "Залишити Відгуки"
//- - const title = "Відгуки"

dialog(class="popup container" style="display: none")
    div(class="popup__header")
        div(class="popup__title") #{title}
        div(class="popup__close")
            i(class="bi bi-x-lg")

    div(class="popup__body")
        div(class="all__reviews" style="display: none")
            div(class="row")
                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")

                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")

                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.

                div(class="col-md-6")
                    div(class="single__review")
                        div(class="review__header")
                            img(src="/assets/images/review.png", alt="")
                            h4(class="author") Анна Гордієнко
                            div(class="stars") 
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                i(class="bi bi-star-fill")
                                
                        div(class="review__body")
                            p Будка підвищеного стандарту з дерева для маленького або середнього собаки. Внутрішня кімната + відчинена веранда. Виготовлена ​​із струганих пиломатеріалів.
                            
        div(class="leave__review" style="display: none")
            div(class="first___step")
                p(class="title") 1. Оцініть товар
                div(class="review__value")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")
                    i(class="bi bi-star-fill")

            div(class="second__step")
                p(class="title") 2. Особисті Дані
                form
                    div(class="review__item")
                        label(for="name") Імʼя та прізвище*
                        input(type="text" id="name") 
                    div(class="review__item")
                        label(for="comment") Кометар
                        input(type="textarea" id="comment") 
                    div(class="review__item")
                        label(for="code") Ведіть код товару*
                        input(type="number" id="code")

                    div(class="leave__button")
                        button залишити відгук


dialog(class="gratitude__popup popup container" style="display: none")
    div(class="popup__header")
        div(class="popup__close")
            i(class="bi bi-x-lg")
    div(class="popup__body")
        div(class="gratitude__review")
            img(src="/assets/images/gratitude.png", alt="")
            p Дякую за відгук















