div(class="catalog__list")
    div(class="container")
        div(class="pre__navigation")
            p(class="navigation__links")
                a(href="index.html") Галерея / 
                a(href="catalog.html") Вибір будки, каталог / 
                span(class="active__page")  Картка товару

    include devider


    div(class="container")
        div(class="row" id="box-info")