// text colors
$white_theme_color: #fff;
$dark_theme_color: #1e1e1e;
$main_theme_color: #ff914d;

// text sizes
$text: 16px;

// text hights
$text_hight: 20px;

// transitions
$main_transition: all 0.3s ease-in-out;

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixins.scss';

#catalog {
    row-gap: 30px;
}
.box {
    background: #f6f6f6;
    padding: 10px 25px 10px 10px;
    border-radius: 20px;

    &__image {
        height: 100%;
        img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        padding-top: 15px;
        padding-top: 5px;
        .header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 30px;

            .box__type {
                p {
                    margin-bottom: 10px;
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21px;
                    color: #7d7d7d;
                }
                h4 {
                    font-family: Unbounded;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24.8px;
                    color: #333;
                }
            }
        }

        .box__size {
            margin-bottom: 20px;
            p {
                margin-bottom: 10px;
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                color: #7d7d7d;
            }

            .size__items {
                display: flex;
                align-items: center;

                .single__size {
                    padding: 10px;
                    background: #edeff0;
                    border-radius: 8px;
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21px;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }

        .box__price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                color: #7d7d7d;
            }

            .price {
                @include common-transparent-button;

                .currency {
                    text-transform: lowercase;
                }
            }
        }
    }
}
