// text colors
$white_theme_color: #fff;
$dark_theme_color: #1e1e1e;

// text sizes
$text: 16px;

// text hights
$text_hight: 20px;

@mixin small-button {
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: $text;
    line-height: $text_hight;
    text-transform: uppercase;
}

@mixin button-dark {
    @include small-button;
    background: $dark_theme_color;
    color: $white_theme_color;
    border: 2px solid $dark_theme_color;
    transition: all 0.5s;

    &:hover {
        background: $white_theme_color;
        color: $dark_theme_color;
    }
}

@mixin button-white {
    @include small-button;
    background: $white_theme_color;
    color: $dark_theme_color;
    border: 2px solid $white_theme_color;
    transition: all 0.5s;

    &:hover {
        background: $dark_theme_color;
        color: $white_theme_color;
    }
}
