@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Unbounded", sans-serif;
}

.main {
  margin-bottom: 100px;
}

i {
  cursor: pointer;
}

.popup::-webkit-scrollbar {
  width: 5px;
  height: 70px;
  padding-top: 50px;
}

.popup::-webkit-scrollbar-track {
  background: none;
}

.popup::-webkit-scrollbar-thumb {
  background-color: #ff914d;
  border-radius: 30px;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 70px;
  padding-top: 50px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff914d;
  border-radius: 30px;
}

.navbar {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  z-index: 30;
  background: #fff;
}
.navbar__logo img {
  width: 150px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .logo--dark {
  display: none;
}
.navbar__menu {
  display: flex;
}
.navbar__menu .navbar__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.navbar__menu .navbar__link a {
  text-decoration: none;
  color: #1e1e1e;
  transition: all 0.3s ease-in-out;
}
.navbar__menu .navbar__link a:hover {
  color: #ff914d !important;
}
.navbar__menu .navbar__link:nth-child(2) {
  margin: 0px 20px;
}
.navbar__menu .navbar__link:nth-child(2)::after {
  content: "·";
  margin-left: 20px;
}
.navbar__menu .navbar__link:nth-child(2)::before {
  content: "·";
  margin-right: 20px;
}
.navbar__info {
  display: flex;
  align-items: center;
}
.navbar__info .navbar__btn {
  margin-right: 15px;
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  background: #1e1e1e;
  color: #fff;
  border: 2px solid #1e1e1e;
  transition: all 0.5s;
}
.navbar__info .navbar__btn:hover {
  background: #fff;
  color: #1e1e1e;
}
.navbar__info .navbar__cart i {
  font-size: 20px;
}
.navbar--dark {
  background: #1e1e1e;
}
.navbar--dark .logo--dark {
  display: block;
}
.navbar--dark .logo--light {
  display: none;
}
.navbar--dark .navbar__menu .navbar__link a {
  color: #fff;
}
.navbar--dark .navbar__info .navbar__btn {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  background: #fff;
  color: #1e1e1e;
  border: 2px solid #fff;
  transition: all 0.5s;
}
.navbar--dark .navbar__info .navbar__btn:hover {
  background: #1e1e1e;
  color: #fff;
}
.navbar--dark .navbar__info .navbar__cart i {
  color: #fff;
}
.navbar--dark .navbar__menu .navbar__link:nth-child(2)::after {
  color: #fff;
}
.navbar--dark .navbar__menu .navbar__link:nth-child(2)::before {
  color: #fff;
}
.navbar--fixed {
  position: fixed !important;
  z-index: 9999 !important;
  width: 100%;
  top: 0;
}
.navbar--fixed .logo--light {
  display: none;
}
.hero__wrapper {
  position: relative;
  height: 100vh;
  top: -80px;
}

.hero {
  background-image: url(/assets/images/hero-bg.jpg);
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
}
.hero__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero__title {
  font-weight: 700;
  font-size: 110px;
  line-height: 135px;
  background: linear-gradient(to right, #ffffff, #787878);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero__title span {
  color: #ff914d;
}
.hero__text {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  background: linear-gradient(to right, #ffffff, #787878);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.hero__text span {
  background: linear-gradient(to right, #4173cd, #ffe15a);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.hero .hero__link {
  text-decoration: none;
}
.hero__button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  background: #ff914d;
  padding: 4px 30px 4px 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 60px;
}
.hero__button .button__icon {
  margin-right: 20px;
  transition: all 0.2s ease-in;
}
.hero__button .button__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #ff914d;
  background-color: #131315;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.hero__button:hover .button__icon {
  transform: rotate(90deg);
  transition: all 0.2s ease-out;
}

.hero__image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero__image img {
  width: 550px;
}

@media (max-width: 1200px) {
  .hero__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
  }
  .hero__text {
    font-size: 30px !important;
  }
  .hero__button {
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    background: #ff914d;
    padding: 4px 30px 4px 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 60px;
    font-size: 16px;
  }
  .hero__button .button__icon {
    margin-right: 20px;
    transition: all 0.2s ease-in;
  }
  .hero__button .button__icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #ff914d;
    background-color: #131315;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
  .hero__button:hover .button__icon {
    transform: rotate(90deg);
    transition: all 0.2s ease-out;
  }
  .hero__image img {
    width: 420px;
  }
}
@media (max-width: 992px) {
  .hero__title {
    font-family: Unbounded;
    font-size: 40px;
    font-weight: 700;
    line-height: 49.6px;
  }
  .hero__title span {
    color: #ff914d;
  }
  .hero__text {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    background: linear-gradient(to right, #ffffff, #787878);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  .hero__text span {
    background: linear-gradient(to right, #4173cd, #ffe15a);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
  .hero__image {
    display: none;
  }
}
.gallery {
  height: 700px;
  margin-top: -40px;
}
.gallery .devider__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ff914d;
}
.gallery .devider__line {
  padding-top: 50px;
  border-bottom: 1px solid #ebebeb;
}
.gallery .slider__item img {
  width: 225px;
  height: 150px;
}

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #1e1e1e;
  border-top: 1px solid #595959;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__reviews button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: 1px solid #1e1e1e;
  outline: none;
  transition: all 0.5s;
}
.footer__reviews button:hover {
  background: #1e1e1e;
  color: #fff;
  border-color: #fff;
}
.footer .phone__link {
  text-decoration: none;
}
.footer__phone {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  color: #ff914d;
  background: #333;
}

.footer--blured {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(30, 30, 30, 0.8);
}

@media (max-width: 992px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .footer__wrapper .footer__reviews {
    margin-bottom: 25px;
  }
}
.popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  max-height: 800px;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  overflow-y: scroll;
  border: none;
  padding: 30px !important;
  height: -moz-fit-content;
  height: fit-content;
}
.popup__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}
.popup__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #333;
}
.popup__close i {
  color: #7d7d7d;
  font-size: 25px;
}

.all__reviews .row {
  row-gap: 25px;
}
.all__reviews .single__review {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
}
.all__reviews .single__review .review__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.all__reviews .single__review .review__header img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.all__reviews .single__review .review__header .author__bio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.all__reviews .single__review .review__header .author__bio .author {
  flex: 1;
  margin-left: 20px;
  font-family: Unbounded;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
}
.all__reviews .single__review .review__header .author__bio .reviews__wrapper {
  display: flex;
}
.all__reviews .single__review .review__header .author__bio .reviews__wrapper .stars:not(:last-child) {
  margin-right: 5px;
}
.all__reviews .single__review .review__header .author__bio .reviews__wrapper .stars i {
  color: #ff914d;
}
.all__reviews .single__review .review__body p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #333;
}
.all__reviews .leave__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.all__reviews .leave__button button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: Unbounded;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  border: 1px solid #ff914d;
  box-shadow: 0px 10px 80px 0px rgba(255, 122, 40, 0.4);
  background: #ff914d;
  text-align: center;
}
.all__reviews .leave__button button:hover {
  background: #fff;
  color: #ff914d;
  border-color: #fff;
}

@media (max-width: 992px) {
  .all__reviews .single__review .review__header {
    display: flex;
    align-items: center;
  }
  .all__reviews .single__review .review__header img {
    width: 45px;
    height: 45px;
  }
  .all__reviews .single__review .review__header .author__bio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
  }
  .all__reviews .single__review .review__header .author__bio .author {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0;
  }
  .all__reviews .single__review .review__header .author__bio .reviews__wrapper {
    display: flex;
  }
  .all__reviews .single__review .review__header .author__bio .reviews__wrapper .stars:not(:last-child) {
    margin-right: 5px;
  }
  .all__reviews .single__review .review__header .author__bio .reviews__wrapper .stars i {
    color: #ff914d;
  }
  .all__reviews .single__review .review__body p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #333;
  }
  .all__reviews .leave__button {
    display: flex;
    justify-content: center;
  }
  .all__reviews .leave__button button {
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
    font-family: Unbounded;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    border: 1px solid #ff914d;
    box-shadow: 0px 10px 80px 0px rgba(255, 122, 40, 0.4);
    background: #ff914d;
    text-align: center;
    font-size: 16px;
    width: 100%;
  }
  .all__reviews .leave__button button:hover {
    background: #fff;
    color: #ff914d;
    border-color: #fff;
  }
}
.leave__review p {
  font-family: Unbounded;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.leave__review .first___step {
  margin-bottom: 40px;
}
.leave__review .first___step .review__value i {
  color: #ff914d;
  font-size: 45px;
}
.leave__review .first___step .review__value i:not(:last-child) {
  margin-right: 30px;
}
.leave__review .second__step .title {
  margin-bottom: 30px;
}
.leave__review .second__step .review__item {
  display: flex;
  flex-direction: column;
}
.leave__review .second__step .review__item:not(:last-child) {
  margin-bottom: 20px;
}
.leave__review .second__step .review__item:last-child {
  margin-bottom: 30px;
}
.leave__review .second__step label {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #7d7d7d;
  margin-bottom: 15px;
}
.leave__review .second__step input {
  border-radius: 10px;
  background: #f6f6f6;
  border: none;
  outline: none;
  padding: 15px;
  line-height: 140%;
}
.leave__review .second__step .leave__button {
  display: flex;
  justify-content: center;
}
.leave__review .second__step .leave__button button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: Unbounded;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  border: 1px solid #ff914d;
  box-shadow: 0px 10px 80px 0px rgba(255, 122, 40, 0.4);
  background: #ff914d;
  text-align: center;
}
.leave__review .second__step .leave__button button:hover {
  background: #fff;
  color: #ff914d;
  border-color: #fff;
}

@media (max-width: 992px) {
  .leave__review p {
    font-size: 16px;
  }
  .leave__review .first___step .review__value i {
    color: #ff914d;
    font-size: 25px;
  }
  .leave__review .second__step .title {
    margin-bottom: 30px;
  }
  .leave__review .second__step .review__item {
    display: flex;
    flex-direction: column;
  }
  .leave__review .second__step .review__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .leave__review .second__step .review__item:last-child {
    margin-bottom: 30px;
  }
  .leave__review .second__step .leave__button button {
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
    font-family: Unbounded;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    border: 1px solid #ff914d;
    box-shadow: 0px 10px 80px 0px rgba(255, 122, 40, 0.4);
    background: #ff914d;
    text-align: center;
    font-size: 16px;
    width: 100%;
  }
  .leave__review .second__step .leave__button button:hover {
    background: #fff;
    color: #ff914d;
    border-color: #fff;
  }
}
.gratitude__popup .popup__header {
  justify-content: end;
  padding-bottom: 0px;
  border-bottom: none;
}
.gratitude__popup .gratitude__review {
  text-align: center;
}
.gratitude__popup .gratitude__review p {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #333;
  margin-top: 30px;
}

.cart__popup .product {
  display: flex;
  align-items: start;
}
.cart__popup .cart__image {
  margin-right: 30px;
}
.cart__popup .cart__image img {
  max-height: 230px;
  max-width: 230px;
  border: 6px solid #f6f6f6;
  border-radius: 20px;
}
.cart__popup .product__body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.cart__popup .product__body .product__info .product__type,
.cart__popup .product__body .product__info .product__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.cart__popup .product__body .product__info .product__size {
  display: flex;
  margin-top: 20px;
}
.cart__popup .product__body .product__info .product__size .single__size {
  padding: 10px;
  background: #edeff0;
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.cart__popup .product__body .product__info .product__size .single__size:not(:last-child) {
  margin-right: 10px;
}
.cart__popup .product__body .product__details {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.cart__popup .product__body .product__details .product__quantity {
  display: flex;
  align-items: center;
}
.cart__popup .product__body .product__details .product__quantity .product__remove,
.cart__popup .product__body .product__details .product__quantity .product__add {
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 500;
  line-height: 41px;
  color: #7d7d7d;
  cursor: pointer;
}
.cart__popup .product__body .product__details .product__quantity .product__current {
  background: #f6f6f6;
  border-radius: 10px;
  padding: 18px 25px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin: 0 15px;
}
.cart__popup .product__body .product__details .product__price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ff914d;
}
.cart__popup .product__body .product__details .product__delete {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #ee6464;
  cursor: pointer;
}
.cart__popup .product__body .product__details .product__delete i {
  font-size: 15px;
  margin-right: 15px;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.cart__footer .keep__shoping button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: Unbounded;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  border: 1px solid #ff914d;
  box-shadow: 0px 10px 80px 0px rgba(255, 122, 40, 0.4);
  background: #ff914d;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #7d7d7d;
  box-shadow: none;
  background: #f6f6f6;
  border: none;
  padding: 25px 40px;
}
.cart__footer .keep__shoping button:hover {
  background: #fff;
  color: #ff914d;
  border-color: #fff;
}
.cart__footer .keep__shoping button:hover {
  background: #e0e0e0;
  color: #7d7d7d;
}
.cart__footer .order {
  display: flex;
  align-items: center;
}
.cart__footer .order .total__price {
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ff914d;
}
.cart__footer .order .make__out button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: Unbounded;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  border: 1px solid #ff914d;
  box-shadow: 0px 10px 80px 0px rgba(255, 122, 40, 0.4);
  background: #ff914d;
  background: #45ba89;
  border-color: #45ba89;
  box-shadow: 0px 10px 80px 0px rgba(69, 186, 137, 0.4);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 25px 40px;
  border-radius: 60px;
  margin-right: 30px;
}
.cart__footer .order .make__out button:hover {
  background: #fff;
  color: #ff914d;
  border-color: #fff;
}
.cart__footer .order .make__out button:hover {
  color: #45ba89;
  border-color: #45ba89;
}

.pre__navigation {
  margin-top: 50px;
}
.pre__navigation .navigation__links a {
  text-decoration: none;
  color: #333;
}
.pre__navigation .active__page {
  color: #ff914d;
}

.devider {
  height: 1px;
  width: 100%;
  background: #ebebeb;
  margin: 50px 0px;
}

.delivery__payments h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}
.delivery__payments .payments {
  margin-bottom: 40px;
}
.delivery__payments .payments h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 20px;
}
.delivery__payments .payments span {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #7d7d7d;
  margin-bottom: 15px;
}
.delivery__payments .payments p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #7d7d7d;
  margin-bottom: 10px;
}
.delivery__payments .payments p:last-child {
  margin-bottom: 0px;
}
.delivery__payments .delivery h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 20px;
}
.delivery__payments .delivery p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #7d7d7d;
  margin-bottom: 10px;
}
.delivery__payments .delivery p:last-child {
  margin-bottom: 0px;
}

.refund__policy h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}
.refund__policy span {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #7d7d7d;
  margin-bottom: 15px;
}
.refund__policy p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ff914d;
}
.refund__policy p:not(:last-child) {
  margin-bottom: 30px;
}

.contacts h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}
.contacts .row:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.contacts .label {
  margin-bottom: 15px;
}
.contacts .label i {
  color: #ff914d;
  font-size: 18px;
}
.contacts .label span {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 6px;
  color: #7d7d7d;
}
.contacts .label__value {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.fadeInDown {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: fadeInDown;
}/*# sourceMappingURL=style.css.map */