// text colors
$white_theme_color: #fff;
$dark_theme_color: #1e1e1e;
$main_theme_color: #ff914d;

// text sizes
$text: 16px;

// text hights
$text_hight: 20px;

// transitions
$main_transition: all 0.3s ease-in-out;

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixins.scss';

* {
    font-family: 'Unbounded', sans-serif;
}

.main {
    margin-bottom: 100px;
}

i {
    cursor: pointer;
}

.popup::-webkit-scrollbar {
    width: 5px;
    height: 70px;
    padding-top: 50px;
}

.popup::-webkit-scrollbar-track {
    background: none;
}

.popup::-webkit-scrollbar-thumb {
    background-color: $main_theme_color;
    border-radius: 30px;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 70px;
    padding-top: 50px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: $main_theme_color;
    border-radius: 30px;
}

// navbar start

.navbar {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: 30;
    background: $white_theme_color;

    &__logo {
        img {
            width: 150px;
            height: 70px;
            object-fit: contain;
        }
    }

    .logo--dark {
        display: none;
    }

    &__menu {
        display: flex;
        .navbar__link {
            font-weight: 500;
            font-size: $text;
            line-height: $text_hight;

            a {
                text-decoration: none;
                color: $dark_theme_color;
                transition: $main_transition;
                &:hover {
                    color: $main_theme_color !important;
                }
            }

            &:nth-child(2) {
                margin: 0px 20px;
            }
            &:nth-child(2)::after {
                content: '·';
                margin-left: 20px;
            }
            &:nth-child(2)::before {
                content: '·';
                margin-right: 20px;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;

        .navbar__btn {
            margin-right: 15px;
            @include button-dark;
        }

        .navbar__cart {
            i {
                font-size: 20px;
            }
        }
    }

    &--dark {
        background: $dark_theme_color;
        .logo--dark {
            display: block;
        }
        .logo--light {
            display: none;
        }
        .navbar__menu {
            .navbar__link {
                a {
                    color: $white_theme_color;
                }
            }
        }
        .navbar__info {
            .navbar__btn {
                @include button-white;
            }
            .navbar__cart {
                i {
                    color: $white_theme_color;
                }
            }
        }
        .navbar__menu {
            .navbar__link {
                &:nth-child(2)::after {
                    color: $white_theme_color;
                }
                &:nth-child(2)::before {
                    color: $white_theme_color;
                }
            }
        }
    }

    &--fixed {
        position: fixed !important;
        z-index: 9999 !important;
        width: 100%;
        top: 0;
        .logo--light {
            display: none;
        }
    }
}

// navbar end

// hero start

.hero__wrapper {
    position: relative;
    height: 100vh;
    top: -80px;
}

.hero {
    background-image: url(/assets/images/hero-bg.jpg);
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &__title {
        font-weight: 700;
        font-size: 110px;
        line-height: 135px;
        background: linear-gradient(to right, #ffffff, #787878);
        background-clip: text;
        color: transparent;
        text-transform: uppercase;
        margin-bottom: 20px;

        span {
            color: $main_theme_color;
        }
    }

    &__text {
        font-size: 40px;
        line-height: 50px;
        font-weight: 300;
        background: linear-gradient(to right, #ffffff, #787878);
        background-clip: text;
        color: transparent;
        text-transform: uppercase;
        margin-bottom: 80px;
        span {
            background: linear-gradient(to right, #4173cd, #ffe15a);
            background-clip: text;
            color: transparent;
        }
    }

    .hero__link {
        text-decoration: none;
    }

    &__button {
        @include hero-button;
    }
}

.hero__image {
    position: absolute;
    right: 0;
    bottom: 0;
}

// hero end

// gallery start

.gallery {
    height: 700px;
    margin-top: -40px;
    .devider__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: $main_theme_color;
    }

    .devider__line {
        padding-top: 50px;
        border-bottom: 1px solid #ebebeb;
    }

    .slider {
        &__item {
            img {
                width: 225px;
                height: 150px;
            }
        }
    }
}

// gallery end

// footer start

.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: $dark_theme_color;
    border-top: 1px solid #595959;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__reviews {
        button {
            @include small-button;
            border: 1px solid $dark_theme_color;
            outline: none;
            transition: all 0.5s;

            &:hover {
                background: $dark_theme_color;
                color: $white_theme_color;
                border-color: $white_theme_color;
            }
        }
    }

    .phone__link {
        text-decoration: none;
    }

    &__phone {
        @include small-button;
        color: $main_theme_color;
        background: #333;
    }
}

.footer--blured {
    backdrop-filter: blur(10px);
    background-color: rgba(30, 30, 30, 0.8);
}

// footer end

// popup start

.popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    max-height: 800px;
    height: 100%;
    background: $white_theme_color;
    border-radius: 30px;
    overflow-y: scroll;
    border: none;
    padding: 30px !important;
    height: fit-content;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        color: #333;
    }

    &__close {
        i {
            color: #7d7d7d;
            font-size: 25px;
        }
    }
}

// popup end

// popup ALL reviews start

.all__reviews {
    .row {
        row-gap: 25px;
    }
    .single__review {
        background: #f6f6f6;
        padding: 20px;
        border-radius: 20px;

        .review__header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
            }
            .author {
                flex: 1;
                margin-left: 20px;
                font-family: Unbounded;
                font-size: 20px;
                font-weight: 700;
                line-height: 24.8px;
            }
            .stars {
                &:not(:last-child) {
                    margin-right: 5px;
                }
                i {
                    color: $main_theme_color;
                }
            }
        }
        .review__body {
            p {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 500;
                line-height: 23px;
                color: #333;
            }
        }
    }
}

// popup ALL reviews end

// popup LEAVE reviews start

.leave__review {
    p {
        font-family: Unbounded;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }

    .first___step {
        margin-bottom: 40px;
        .review__value {
            i {
                color: $main_theme_color;
                font-size: 45px;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }

    .second__step {
        .title {
            margin-bottom: 30px;
        }
        .review__item {
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 30px;
            }
        }
        label {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            color: #7d7d7d;
            margin-bottom: 15px;
        }

        input {
            border-radius: 10px;
            background: #f6f6f6;
            border: none;
            outline: none;
            padding: 15px;
            line-height: 140%;
        }

        .leave__button {
            button {
                @include common-button;
                text-align: center;
            }
        }
    }
}

// popup LEAVE reviews end

// popup GRATITUDE reviews start
.gratitude__popup {
    .popup__header {
        justify-content: end;
        padding-bottom: 0px;
        border-bottom: none;
    }
    .gratitude__review {
        text-align: center;
        p {
            font-weight: 500;
            font-size: 40px;
            line-height: 50px;
            text-transform: uppercase;
            color: #333;
            margin-top: 30px;
        }
    }
}
// popup GRATITUDE reviews end

// popup NAVIGATION DEVIDER end

.pre__navigation {
    margin-top: 50px;
    .navigation__links {
        a {
            text-decoration: none;
            color: #333;
        }
    }
    .active__page {
        color: $main_theme_color;
    }
}

.devider {
    height: 1px;
    width: 100%;
    background: #ebebeb;
    margin: 50px 0px;
}

// popup NAVIGATION DEVIDER end

//  animations start
.fadeInDown {
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}
//  animations end
